extends layout

block content
  h1 Bienvenido al sistema del Pet Shop
  if session.usuario
    p Sesión iniciada como #{session.usuario}
    a(href="/logout") Cerrar sesión
  else
    a(href="/usuario/login") Iniciar sesión

