extends layout

block content
  h1 Iniciar sesión
  form(action="/usuario/login", method="POST")
    input(type="text", name="usuario", placeholder="Usuario")
    br
    input(type="password", name="password", placeholder="Contraseña")
    br
    button(type="submit") Ingresar
  br
  a(href="/usuario/registro") Registrate

