extends layout

block content
  h1 Huellitas Felices
  h2 Mascotas registradas
  ul
    each mascota in mascotas
      li #{mascota.nombre} - #{mascota.especie} - Raza: #{mascota.raza} - Dueño: #{mascota.duenio}
