extends layout

block content
  h1 Crear cuenta
  form(method="post", action="/usuario/registro")
    input(type="text", name="usuario", placeholder="Usuario", required)
    input(type="password", name="password", placeholder="Contraseña", required)
    button(type="submit") Registrarme
  a(href="/usuario/login") Ya tengo cuenta
