extends layout

block content
  h1 Huellitas Felices
  h2 Turnos registrados
  ul
    each turno in turnos
      li Mascota: #{turno.mascota} - Servicio: #{turno.servicio} - Fecha: #{turno.fecha} - Hora: #{turno.hora}
